# Data Preprocessing Phase
In this first notebook I'm running the data preprocessing phase for the Kaggle's <a href="https://www.kaggle.com/datasets/nancyalaswad90/diamonds-prices" target="_blank">diamonds price dataset</a>. This is a regression problem.

**Author**: Arthur G.

## Loading Dependencies
Here I'm loading and setting up the dependencies for this notebook.

In [1]:
# libs
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# settings
seed = np.random.seed(42)
plt.style.use('ggplot')

## Helper Functions
A set of helper functions to automate data processing.

## Loading Dataset
Here I'm loading the dataset for initial processing.

In [2]:
data = pd.read_csv(os.path.join('..', 'data', 'raw', 'diamonds.csv'))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53943 entries, 0 to 53942
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53943 non-null  int64
 1   carat       53943 non-null  float64
 2   cut         53943 non-null  object
 3   color       53943 non-null  object
 4   clarity     53943 non-null  object
 5   depth       53943 non-null  float64
 6   table       53943 non-null  float64
 7   price       53943 non-null  int64
 8   x           53943 non-null  float64
 9   y           53943 non-null  float64
 10  z           53943 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

## Data Preprocessing
Now I'll be implementing the preprocessing steps.

### Removing Useless Variables
I'll be starting by removing useless columns.

In [3]:
data = data.drop(columns=['Unnamed: 0'])
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

There is nothing we can do to further improve this data set.

## Serializing Preprocessed Dataset

In [4]:
data.to_csv(os.path.join('..', 'data', 'processed', 'processed_data.csv'), index=False)